*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: inherit;
}
ol,
ul,
li {
    list-style: none;
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
select,
button,
input {
    appearance: none;
    border-radius: 0;
}

button,
a {
    cursor: pointer;
    color: inherit;
}
textarea {
    resize: none;
}

html, body {
    background: rgb(53, 27, 68);
    background: linear-gradient(120deg, rgba(74,31,89,1) 0%, rgba(237,155,66,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}