.favorites-menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem auto;
}

.favorites-bar {
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
}

.favorites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 330px) {
    .favorites-bar {
        flex-direction: column;
    }
}