.order-form {
    border-radius: var(--soft-border);
    background: var(--cart);
    margin-top: 0.5rem;
    padding: 1rem;
}

.order-form > h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.order-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.client-details-1, .client-details-2, .client-details-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.client-details-1 input, .client-details-2 input, .client-details-3 input {
    background: var(--light);
    padding: 0.6rem;
    font-size: 18px;
    border-radius: var(--soft-border);
    width: 80%;
}

@media (max-width: 470px) {
    .client-details-1, .client-details-2, .client-details-3 {
        flex-direction: column;
    }
}