.notice {
    padding-top: 4rem;
    text-align: center;
    height: 80vh;
}

.notice div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-img {
    width: 200px;
    margin: 0 1rem 1rem 1rem;
}

.notice h2 {
    font-size: 60px;
}

.notice-action {
    margin-top: 1rem;
}

.notice-action button {
    margin-left: 1rem;
}