nav {
    height: 66px;
    padding: 0.4em;
    /* background-color: rgb(173, 117, 65); */
    background-color: rgb(0, 0, 0);
}

#menu-arrow {
    width: 20px;
}

.navbar-logo img {
    height: 100%;
}