.sorter {
    display: flex;
    align-items: center;
}

.sorter h3 {
    margin: 0 0.5rem;
}

.sorter select {
    background: var(--dark-medium);
    color: var(--light);
    text-align: center;
    padding: 0.7rem;
    border-radius: var(--soft-border);
    margin-bottom: 0.35rem;
    font-size: 17px;
}