.creator-frame {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 650px;
}

.creator-frame h2 {
    text-align: center;
    margin-bottom: 0.8rem;
}

.creator-form {
    background: var(--cart);
    padding: 2rem;
    border-radius: var(--soft-border);
    font-size: 20px;
}

.creator-div {
    display: flex;
    justify-content: space-between;
}