.pagination-nav {
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--dark);
    color: var(--light);
    border-bottom-left-radius: var(--soft-border);
    border-bottom-right-radius: var(--soft-border);
}

.pagination li {
    padding: 1rem 0.5rem;
    font-size: 20px;
}